---
# tasks file for setup_exchange
- name: install .NET 4.8 and Visual C++ 2013 redistributable
  win_chocolatey:
    name:
      - netfx-4.8
      - vcredist2013
    state: present
  register: ex_choco_install

- name: Install UCMA
  win_package:
    path: https://www.microsoft.com/en-us/download/confirmation.aspx?id=34992
    product_id: UCMA4
    arguments:
      - /q
      - /norestart
  register: ex_ucma_install

- name: Install mandatory windows features
  win_feature:
    name: "{{ features }}"
  register: ex_feature_install

- name: Restart if necassary
  win_reboot:
  when: ex_choco_install.reboot required or ex_ucma_install.reboot_required or ex_feature_install.reboot_required

- name: Download Exchange iso
  win_get_url:
    url: https://www.microsoft.com/en-us/download/confirmation.aspx?id=103478
    dest: C:\exchange.iso

- name: mount iso
  win_disk_image:
    image_path: C:\exchange.iso
    state: present
  register: disk_image_out

- name: Prepare AD
  win_package:
    path: '{{ disk_image_out[0] }}\Setup.exe'
    arguments:
      - /IAcceptExchangeServerLicenseTerms
      - /PrepareAD

- name: Prepare Schema
  win_package:
    path: '{{ disk_image_out[0] }}\Setup.exe'
    arguments:
      - /IAcceptExchangeServerLicenseTerms
      - /PrepareSchema

- name: Install exchange server
  win_package:
    path: '{{ disk_image_out[0] }}\Setup.exe'
    arguments:
      - /IAcceptExchangeServerLicenseTerms
      - /Mode:Install
      - /Roles:MB

- name: Finally reboot
  win_reboot:
